<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.square63.caremap">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegistrationActivity" />
        <activity android:name=".ui.ForgotPasswordActivity" />
        <activity android:name=".ui.WelcomeActivity" />
        <activity android:name=".ui.providerModule.CreateProviderProfileActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.providerModule.PersonalInfoActivity" />
        <activity android:name=".ui.DaysSelectionActivity" />
        <activity android:name=".ui.InterestsActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.SkillsActivity" />
        <activity android:name=".ui.ChatActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.ConfirmationActivity" />
        <activity android:name=".ui.seekerModule.CreateSeekerProfileActivity" />
        <activity android:name=".ui.seekerModule.CreateSeniorProfileActivity"></activity>
    </application>

</manifest>